
<div class="bd-container">
  <div class="head">My roadmap from <%= current_user.current_industry %> as <%= current_user.current_role %> to <%= current_user.future_role %>
  </div>
  <div class="bd-row">
    <div class="col-12 col-md-6">
    
    <p class="text-center" style="font-weight: bolder;">Your roadmap</p>
        <table>
          <tr class="months">
            <% @month_array.each do |m| %>
              <th class="month-display"><%= Date::MONTHNAMES[m] %></th>
            <% end %>
          </tr>
          <% @course_roadmaps.sort_by(&:created_at).each_with_index do |course_roadmap, index| %>
          <tr>
              
              <% index > && @course_roadmaps[0...index].map(&:course).map(&:duration).reduce(&:+).times do  %>
                <td></td>
              <% end %>
              
              <td colspan="<%= course_roadmap.course.duration%>">
                <%= course_roadmap.course.title %> By <%= course_roadmap.course.provider %>
                <%= link_to 'X', course_roadmap, method: :delete, class: 'btn btn-danger' %>
              </td>
          </tr>
          <% end %>
        </table>
    </div>

    <div class="col-12 col-md-6">
      <p class="text-center" style="font-weight: bolder;">please browse the list below and add to your roadmap</p>
      <div class="box">
        <ul class="list-group list-group-flush">
          <%= form_for(@my_roadmap) do |f| %>
            <% @unchosen_courses.each do |course| %>
              <% unless course.duration > current_user.timeframe %>
              <li class="list-group-item text-primary">
                <div class="dish-list-line-div">
                  <div class="d-inline text-warning font-italic" style="font-size:14px;"><%= course.provider %>
                  </div>
                  <div draggable="true" class="d-inline dish-item">><%= course.title %>Cost: SGD<%= course.cost %> | <%= course.duration %> months
                  </div>
                  <%= f.check_box :courses, { multiple: true, checked: @chosen_courses.include?(course) }, course.id, nil %>
                </div>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <%= submit_tag 'Save', form: "edit_roadmap_#{@my_roadmap.id}" %>
      </div>
    </div>

    
  </div>
</div>
