
<div class="bd-container">
  <div class="head">My roadmap from <%= current_user.current_industry %> as <%= current_user.current_role %> to <%= current_user.future_role %>
  </div>
  <div class="bd-row">
    <div class="col-12 col-md-6">
    <p class="text-center" style="font-weight: bolder;">Your roadmap</p>
        <table>
          <tr class="months">
            <% @month_array.each do |m| %>
              <th class="month-display"><%= Date::MONTHNAMES[m] %></th>
            <% end %>
          </tr>
          <% @my_roadmap.courses.order('created_at DESC').each_with_index do |course, index| %>
            <tr>
              <% if course.order(@my_roadmap) > @my_roadmap.courses.order('created_at DESC')[index - 1].order(@my_roadmap) %>
                <%= @my_roadmap.courses.order('created_at DESC')[0...index].map(&:duration).reduce(&:+).times do %>
                  <td></td>
                <% end %> 
              <% end %>
              
              <td colspan="<%= course.duration%>"><%= course.title %> By <%= course.provider %></td>
            </tr>
          <% end %>
        </table>
    </div>

    <div class="col-12 col-md-6">
      <p class="text-center" style="font-weight: bolder;">please browse the list below and add to your roadmap</p>
      <div class="box">
        <ul class="list-group list-group-flush">
          <%= form_for(@my_roadmap) do |f| %>
            <% @courses.each do |course| %>
              <% unless course.duration > current_user.timeframe %>
              <li class="list-group-item text-primary">
                <div class="dish-list-line-div">
                  <div class="d-inline text-warning font-italic" style="font-size:14px;"><%= course.provider %>
                  </div>
                  <div draggable="true" class="d-inline dish-item">><%= course.title %>Cost: SGD<%= course.cost %> | <%= course.duration %> months
                  </div>
                  <%= f.check_box :courses, { multiple: true, checked: @chosen_courses.include?(course) }, course.id, nil %>
                </div>
              </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <%= submit_tag 'Save', form: "edit_roadmap_#{@my_roadmap.id}" %>
      </div>
    </div>
  </div>
</div>
