<div class="wrapper">
  <div class="box box-1">
    <% if @roadmap.user.photo.attached? %>
      <%= cl_image_tag @roadmap.user.photo, alt: 'profileimage' %>
    <% else %>
      <%= image_tag @roadmap.user.img_url, alt: 'profileimage' %>
    <% end %>
    <div class="line-name"><%= @roadmap.user.first_name %> <%= @roadmap.user.last_name %></div>

    <div class="line-subtitle" style="margin-bottom: 0"><%= @roadmap.user.current_role %> turned <%= @roadmap.user.future_role %></div>
    <div style="font-size: 18px; margin-top: 16px; color: #fdb029;"><i class="fa fa-compass" style="font-size: 18px;" aria-hidden="true"></i><span style="font-family: sans-serif;"> <%= @roadmap.user.location %></span>
    </div>

    <a data-toggle="collapse" href="#highlights" role="button" aria-expanded="false" aria-controls="highlights">
      Highlights
    </a>
    <div class="collapse" id="highlights">
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">previously</span> <span><%= @roadmap.user.current_role %></span>, <span><%= @roadmap.user.current_industry %></span></div>
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">from</span> <span><%= @roadmap.user.location %></span></div>
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">member since</span> <span><%= @roadmap.user.created_at.strftime("%B %Y") %></span></div>
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">budget: S$ </span><span><%= @roadmap.user.budget %></span></div>
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">planned timeframe: </span><span><%= @roadmap.user.timeframe %></span> months</div>
      <div class="line-detail"><span class="text-warning" style="font-size: 12px;">availability: </span><span><%= @roadmap.user.available_hrs_per_week %></span>hrs per week</div>
    </div>

    <a data-toggle="collapse" href="#mycourses" role="button" aria-expanded="false" aria-controls="mycourses">
      My Courses
    </a>
    <div class="collapse" id="mycourses">
      <% @courses.each do |course| %>
      <div class="line-detail" style="line-height: 1.1; margin-bottom: 0;">
        <a class="course line-detail" style="margin-top: 16px; margin-bottom: 0; line-height: 1.1;" target="_blank" href=" <%= course.provider_url %>"><%= course.title[0..30] %></a>
        <span style="color: #a2c5b1; font-size: 16px; margin-top: 0; line-height: 1.1;"><%= course.provider %> |</span>
        <span style="color: #a2c5b1; font-size: 16px; margin-top: 0; line-height: 1.1;"><%= pluralize(course.duration, 'month') %> |</span>
        <% course.cost.zero? ? cse_cost = "Free" : cse_cost = "$#{course.cost.to_s}" %>
        <span style="color: #a2c5b1; font-size: 16px; margin-top: 0; line-height: 1.1;"><%= cse_cost %></span>
      </div>
      <% end %>
    </div>

    <a data-toggle="collapse" href="#motivation" role="button" aria-expanded="false" aria-controls="motivation">
      Motivation
    </a>
    <div class="collapse" id="motivation">
      <div class="line-detail"><%= @roadmap.user.motivation %></div>
    </div>

    <a data-toggle="collapse" href="#journey" role="button" aria-expanded="false" aria-controls="journey">
      Journey Experience
    </a>
    <div class="collapse" id="journey">
      <div class="line-detail"><%= @roadmap.user.journey_experience %></div>
    </div>

    <a data-toggle="collapse" href="#advice" role="button" aria-expanded="false" aria-controls="advice">
      My Advice!
    </a>
    <div class="collapse" id="advice">
      <div class="line-detail"><%= @roadmap.user.advice %></div>
    </div>
  </div>

  <div class="box box-2">
    <div class="d-flex justify-content-center align-items-center mb-2">
      <div id="back-to-results">
        <a href="#" class="btn btn-sm btn-secondary rounded-pill" style="font-size: 16px; font-family: sans-serif;">Back to Results</a>
      </div>
      <div id="my-dashboard" class="ml-5">
        <% if current_user.roadmap.present? %>
        <%= link_to "Update my roadmap", builder_roadmaps_path, class: "btn btn-sm btn-dark rounded-pill" %>
        <% else %>
        <%= link_to "Copy this roadmap", builder_roadmap_path(@roadmap), class: "btn btn-sm btn-dark rounded-pill" %>
        <% end %>
      </div>
    </div>

    <div class="d-none"><span id="rdmap-start"><%= @roadmap.start_date.strftime("%-m") %></span>
    </div>

    <div class="line-subhdr" style="font-size: 18px; color: #ec5c52;"><span><%= @roadmap.start_date.strftime("%b %Y") %></span> - <span><%= @roadmap.end_date.strftime("%b %Y") %></span>
    </div>

    <section class="timeline-wrapper mb-4">
      <div class="timeline-middle-line"></div>
      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>JUN</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-6" class="timeline-p">Course Name 6</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>MAY</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-5" class="timeline-p">Course Name 5</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>APR</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-4" class="timeline-p">Course Name 4</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>MAR</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-3" class="timeline-p">Course Name 3</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>FEB</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-2" class="timeline-p">Course Name 2</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>JAN</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-1" class="timeline-p">Course Name 1</p>
        </div>
      </div>
    </section>

    <section class="timeline-wrapper">
      <div class="timeline-middle-line"></div>

      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>DEC</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-12" class="timeline-p">Course Name 12</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>NOV</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-11" class="timeline-p">Course Name 11</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>OCT</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-10" class="timeline-p">Course Name 10</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>SEP</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-9" class="timeline-p">Course Name 9</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-bottom">
        <div class="timeline-date">
          <p>AUG</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-8" class="timeline-p">Course Name 8</p>
        </div>
      </div>

      <div class="timeline-box timeline-box-top">
        <div class="timeline-date">
          <p>JUL</p>
        </div>
        <div class="timeline-box-content">
          <p id="course-name-7" class="timeline-p">Course Name 7</p>
        </div>
      </div>
    </section>
  </div>
</div>