<h2>Suggested Roadmaps</h2>
<br>
<div class="rd1-grid">
  <% @roadmaps.each do |roadmap| %>
  <div class="rd1-card">
    <img src="<%= roadmap.user.img_url %>" alt="" class="rd1-avatar">
    <br>
    <br>
    <h4 class="rd1-h4"><%= roadmap.user.first_name %> <%= roadmap.user.last_name %></h4>
    <p class="rd1-p"><span class="text-muted"><%= roadmap.user.future_role %></span></p>
    <p class="rd1-p">Career Change Journey</p>
    <h6 style="line-height: 40%;"><%= roadmap.start_date.strftime("%b %Y") %> to <%= roadmap.end_date.strftime("%b %Y") %></h6>
    Duration: <%= roadmap.duration %>months
    <br>
    <%= link_to "Select this template", builder_roadmap_path(roadmap), class: "btn btn-dark mb-3" %>

    <!-- Example single danger button -->
    <br>
    <div class="btn-group dropleft">
      <button type="button" class="badge badge-pill badge-secondary dropdown-toggle" style="font-size:14px; font-weight:lighter; border:none; padding: 8px 16px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Courses
      </button>
      <div class="dropdown-menu">
        <% roadmap.courses.each do |course| %>
        <a class="dropdown-item" href="<%= course.provider_url %>" target="_blank"><span class="rd1-li2"><%= course.provider %></span> <span class="rd1-li3"><%= course.title %></span></a>
        <div class="dropdown-divider"></div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>