
<div class="sidenav">
  <div class="sidenav-text">
    <%= link_to dashboard_page_path do %>
    My Dashboard
    <% end %>
    <%= link_to networks_page_path do %>
    My Networks
    <% end %>
    <%= link_to suggested_roadmap_path do %>
    Create Roadmap
    <% end %>
  </div>
</div>

<div class="container center" style="text-align:center">

  <h1>Other Chats</h1>

  <% @connections.each do |connection| %>
    <% if connection.connected_id == current_user.id %>
      <% connection_usr_fst_nm = User.find(connection.connecting_id).first_name %>
      <% connection_usr_lst_nm = User.find(connection.connecting_id).last_name %>
      <% @connection_usr_name = "#{connection_usr_fst_nm} #{connection_usr_lst_nm}" %>
      <% @connection_usr_loc = User.find(connection.connecting_id).location %>
      <% @connection_usr_img = User.find(connection.connecting_id).img_url %>
    <% else %>
      <% connection_usr_fst_nm = User.find(connection.connected_id).first_name %>
      <% connection_usr_lst_nm = User.find(connection.connected_id).last_name %>
      <% @connection_usr_name = "#{connection_usr_fst_nm} #{connection_usr_lst_nm}" %>
      <% @connection_usr_loc = User.find(connection.connected_id).location %>
      <% @connection_usr_img = User.find(connection.connected_id).img_url %>
    <% end %>
    <%= render 'friend_card', connection: connection %>
  <% end %>
</div>

<class="container" style="text-align:center">

  <div>
    <h1>Chat</h1>
    <p><b><%= @user.first_name %></b> and <b><%= @friend.first_name %></b></p>
  </div>

  <div class="d-flex p-2 justify-content-center">
    <div class="text-left" style="width:400px; height:400px; overflow:auto">
      <div class="message_body">
      <% if @chat_messages.empty? %>
        <p> There is currently no messages </p>
      <% else %>
        <% @chat_messages.each do |message| %>
          <p> <%= message.user.first_name %>: <%= message.content %> </p>
        <% end %>
      <% end %>
      </div>
        <button autofocus>
    </div>
  </div>


  <div class="mt-3" style="text-align:center">
    <%= form_tag(chat_path(@connection.id), method: "post") do %>
      <label for="message">Message:</label>
      <%= text_field_tag :messages, nil , autofocus: true %>
      <%= button_tag "Send" %>
    <% end %>
  </div>

  <div class="mt-2" style="text-align:center">
    <%= link_to "Back", "/dashboard/networks" %>
  </div>

</div>

