<h1 class="display-5">Career Switcher Match Results !</h1>
<br>
<h3><span class="text-italic"> from </span><strong><%= @industry_from %></strong> <span class="text-italic"> to </span><strong><%= @industry_to %></strong> </h3>

<h5><%= @shortlist_msg %></h5>
<hr>

<div class="d-flex flex-wrap justify-content-between align-items-center">
  <% @shortlisted_profiles.each do |matched_user| %>
  <div class="profiles card mt-3 mb-3 border border-success" style="width: 16rem; height: 25rem;">
    <div class="matched-img-div text-center">
      <img class="matched-user-image img-fluid" style="vertical-align:middle; width:70px; height: 70px; border-radius: 50%;" src="<%= matched_user.img_url %>" alt="">
    </div>
    <br>
    <h3 class="text-center"><span class="first-name"><%= matched_user.first_name %></span> <span class="last-name"><%= matched_user.last_name %></span></h3>
    <br>
    <p class="current-role font-weight-bold"><%= matched_user.current_role %>, </p>
    <p class="current-ind font-weight-bold"><%= matched_user.current_industry %></p>
    <p class="text-muted">to</p>
    <p class="future-ind font-weight-bold"><%= matched_user.future_industry %></p>

    <button class="myBtn btn btn-success" type="button" data-target="modalOne" data-matched-first-nm="<%= matched_user.first_name %>" data-matched-user-id="<%= matched_user.id %>" data-matched-first-nm="<%= matched_user.first_name %>" data-matched-last-nm="<%= matched_user.last_name %>" data-matched-current-role="<%= matched_user.current_role %>" data-matched-current-ind="<%= matched_user.current_industry %>" data-matched-fut-ind="<%= matched_user.future_industry %>" data-matched-img="<%= matched_user.img_url %>" data-matched-location="<%= matched_user.location %>" data-matched-motivation="<%= matched_user.motivation %>" data-matched-satisfaction="<%= matched_user.satisfaction %>" data-matched-experience="<%= matched_user.journey_experience %>" data-matched-advice="<%= matched_user.advice %>" data-matched-budget="<%= matched_user.budget %>" data-matched-timeframe="<%= matched_user.timeframe %>" data-matched-hrs="<%= matched_user.available_hrs_per_week %>">More!</button>
  </div>
  <% end %>
</div>

<!-- Modal One - User Not Signed In -->
<div class="modal fade" id="modalOne" tabindex="-1" aria-labelledby="modalOneLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalOneLabel">Hi, Visitor!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please sign-in or sign-up to access full features of Connectdots...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark rounded-pill px-2 px-md-4" data-dismiss="modal">Close</button>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
        <!-- <button type="button" class="btn btn-primary">Sign in</button> -->
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success rounded-pill px-2 px-md-4' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Two - User Signed In -->
<div class="modal fade" id="modalTwo" tabindex="-1" aria-labelledby="modalTwoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-dialog modal-xl">
        <div class="mb2-14 text-center">
          <img class="img-fluid" style="vertical-align:middle; width:70px; height: 70px; border-radius: 50%;" src="#" alt="">
        </div>
        <br>
        <h3><span id="mb2-1"></span> <span id="mb2-2"></h3>
        <p>Location: <span id="mb2-3"></span></p>
        <p>from <span id="mb2-4"></span>, <span id="mb2-5"></span></p>
        <p>To <span id="mb2-6"></span></p>
        <p>Timeframe <span id="mb2-7"> weeks</span></p>
        <p>Budget: USD<span id="mb2-8"></span></p>
        <p>Available Hours Per Week <span id="mb2-9"></span></p>
        <p>Journey Experience <span id="mb2-10"></span></p>
        <p>Satisfaction <span id="mb2-11"></span></p>
        <p>Advice <span id="mb2-12"></span></p>
        <p>Motivation <span id="mb2-13"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark rounded-pill px-2 px-md-4" data-dismiss="modal">Close</button>
        <%= link_to 'Connect with me', requests_connections_path, class: 'btn btn-primary mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
        <%= link_to 'See Roadmap', roadmap_path(:id), class: 'btn btn-success mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
      </div>
    </div>
  </div>
</div>