<h1 class="display-5">Career Switcher Match Results !</h1>
<h3><span class="text-italic"> From </span><strong><span id="industry-from"><%= @industry_from %><span></strong>, <%= @role_from %></strong> <span class="text-italic"> to </span><strong><%= @industry_to %></strong> </h3>

<h5><%= @shortlist_msg %></h5>
<hr>

<div class="d-flex flex-wrap justify-content-between align-items-center">
  <% @shortlisted_profiles.each do |matched_user| %>
  <div class="profiles card mt-3 mb-3 border border-success" style="width: 16rem; height: 25rem;">
    <div class="matched-img-div text-center">
      <img class="matched-user-image img-fluid" style="vertical-align:middle; width:70px; height: 70px; border-radius: 50%;" src="<%= matched_user.img_url %>" alt="">
    </div>
    <br>
    <h3 class="text-center rd1-h4"><span class="first-name"><%= matched_user.first_name %></span> <span class="last-name"><%= matched_user.last_name %></span></h3>
    <br>
    <p class="current-role font-weight-bold"><%= matched_user.current_role %>, </p>
    <p class="current-ind font-weight-bold"><%= matched_user.current_industry %></p>
    <p class="text-muted">to</p>
    <p class="future-ind font-weight-bold"><%= matched_user.future_industry %></p>
    <% if user_signed_in? %>
      <button class="btn btn-success" type="button" data-target="#modalTwo-<%= matched_user.id %>" data-toggle="modal">More!</button>
    <% else %>
      <button class="btn btn-success" type="button" data-target="#modalOne" data-toggle="modal">More!</button>
    <% end %>
  </div>
  <!-- Modal Two - User Signed In -->
  <div class="modal fade" id="modalTwo-<%= matched_user.id %>" tabindex="-1" aria-labelledby="modalTwoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl top-zero">
      <div class="modal-content">
        <div class="modal-dialog modal-xl">
          <div class="mb2-14 text-center">
            <img class="img-fluid" style="vertical-align:middle; width:70px; height: 70px; border-radius: 50%;" src="<%= matched_user.img_url %>" alt="<%= matched_user.first_name %> <%= matched_user.last_name %>">
          </div>
          <br>
          <h3 class="rd1-h3"><span id="mb2-1"><%= matched_user.first_name %></span> <span id="mb2-2"><%= matched_user.last_name %></span></h3>
          <p>Location: <span id="mb2-3"><%= matched_user.location %></span></p>
          <p>from <strong><span id="mb2-4"><%= matched_user.current_industry %></span>, <span id="mb2-5"><%= matched_user.current_role %></span></strong> to <strong><span id="mb2-6"><%= matched_user.future_industry %></span></strong></p>
          <p>Timeframe <span id="mb2-7"><%= matched_user.timeframe %> weeks</span> Budget: USD<span id="mb2-8"><%= matched_user.budget %></span></p>
          <p>Available Hours Per Week <span id="mb2-9"><%= matched_user.available_hrs_per_week %></span></p>
          <p>Journey Experience <span id="mb2-10"><%= matched_user.journey_experience %></span></p>
          <p>Satisfaction <span id="mb2-11"><%= matched_user.satisfaction %></span></p>
          <p>Advice <span id="mb2-12"><%= matched_user.advice %></span></p>
          <p>Motivation <span id="mb2-13"><%= matched_user.motivation %></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark rounded-pill px-2 px-md-4" data-dismiss="modal">Close</button>
          <%= render partial: "follow_button", locals: {user: matched_user} %>
          <div id="mb2-15">
            <a href="#" class="btn btn-success mr-2 mr-md-3 rounded-pill px-2 px-md-4">See Roadmap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Modal One - User Not Signed In -->
<div class="modal fade" id="modalOne" tabindex="-1" aria-labelledby="modalOneLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalOneLabel">Hi, Visitor!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please sign-in or sign-up to access full features of Connectdots...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark rounded-pill px-2 px-md-4" data-dismiss="modal">Close</button>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
        <!-- <button type="button" class="btn btn-primary">Sign in</button> -->
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success rounded-pill px-2 px-md-4' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Two - User Signed In -->
<div class="modal fade" id="modalTwo" tabindex="-1" aria-labelledby="modalTwoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl top-zero">
    <div class="modal-content">
      <div class="modal-dialog modal-xl">
        <div class="mb2-14 text-center">
          <img class="img-fluid" style="vertical-align:middle; width:70px; height: 70px; border-radius: 50%;" src="#" alt="">
        </div>
        <br>
        <h3 class="rd1-h3"><span id="mb2-1"></span> <span id="mb2-2"></h3>
        <p>Location: <span id="mb2-3"></span></p>
        <p>from <strong><span id="mb2-4"></span>, <span id="mb2-5"></span></strong> to <strong><span id="mb2-6"></span></strong></p>
        <p>Timeframe <span id="mb2-7"> weeks</span> Budget: USD<span id="mb2-8"></span></p>
        <p>Available Hours Per Week <span id="mb2-9"></span></p>
        <p>Journey Experience <span id="mb2-10"></span></p>
        <p>Satisfaction <span id="mb2-11"></span></p>
        <p>Advice <span id="mb2-12"></span></p>
        <p>Motivation <span id="mb2-13"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark rounded-pill px-2 px-md-4" data-dismiss="modal">Close</button>
        <span id="matched-user-id" data-user=""></span>
        <div id="mb2-15">
          <a href="#" class="btn btn-success mr-2 mr-md-3 rounded-pill px-2 px-md-4">See Roadmap</a>
        </div>
      </div>
    </div>
  </div>
</div>

