<h1>Match Results</h1>
<h3>
  <span class="text-muted"> From </span>
  <strong><%= @role_from %></strong>,
  <strong><span id="industry-from"><%= @industry_from %><span></strong>
  <span class="text-muted"> to </span>
  </span><strong><%= @industry_to %></strong>
</h3>

<h5><%= @shortlist_msg %></h5>
<hr>

<!-- Grid Container -->
<div class="result-cards">
  <% @shortlisted_profiles.each do |matched_user| %>
  <% next if matched_user.first_name.nil? || matched_user.first_name.empty? %>
  <% matched_user.roadmap.nil? ? match_rdmp_id = 0 : match_rdmp_id = matched_user.roadmap.id %>

  <%= render 'matches_grid', matched_user: matched_user, match_rdmp_id: match_rdmp_id %>

  <% end %>
</div>

<!-- Modal One - User Not Signed In -->
<div class="modal fade" id="modalOne" tabindex="-1" aria-labelledby="modalOneLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalOneLabel">🤔 seems like you haven't signed in yet!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please sign-in or sign-up to access full features of Connectdots...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill mr-2 mr-md-3 px-2 px-md-4" data-dismiss="modal">Close</button>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-info mr-2 mr-md-3 rounded-pill px-2 px-md-4' %>
        <%= link_to 'Sign Up', new_user_registration_path(:c_role => params[:query_role], :c_ind => params[:query_from], :t_role => params[:query_to]), class: 'btn btn-warning rounded-pill px-2 px-md-4' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Two - User Signed In -->
<div class="modal fade" id="modalTwo" tabindex="-1" aria-labelledby="modalTwoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable top-zero">
    <div class="modal-content">
      <div class="modal-body">
        <div class="cell">
          <div class="small">
            <img id="mb2-imgurl" src="" alt="matched-user">
            <h2 id="mb2-name">Profile Name</h2>
            <p class="mb2-small-hdr">Success Story</p>
            <p class="mb2-small-dtl" id="mb2-currrole">Previous Role</p>
            <p class="mb2-small-to">to</p>
            <p class="mb2-small-dtl" id="mb2-futrole">Future Role</p>
            <p class="mb2-small-hdr">Member since</p>
            <p class="mb2-small-dtl">
              <span id="mb2-mbrsince">Member Since</span>
            </p>
            <p class="mb2-small-hdr">from</p>
            <p class="mb2-small-dtl">
              <span id="mb2-locn">Location</span>
            </p>
            <p class="mb2-small-hdr">Status</p>
            <p class="mb2-small-dtl">
              <span id="mb2-status">Status</span>
            </p>
            <i class="fab fa-facebook-square" style="font-size: 20px; margin-top: 32px; margin-left: 0; margin-right: 4px; color: #c7c5c6; text-align: left;"></i>
            <i class="fab fa-twitter-square" style="font-size: 20px; margin-top: 32px; margin-left: 0; margin-right: 4px; color: #c7c5c6; text-align: left;"></i>
            <i class="fab fa-instagram-square" style="font-size: 20px; margin-top: 32px; margin-left: 0; margin-right: 4px; color: #c7c5c6; text-align: left;"></i>
            <i class="fab fa-linkedin" style="font-size: 20px; margin-top: 32px; margin-left: 0; margin-right: 4px; color: #c7c5c6; text-align: left;"></i>

          </div>
          <div class="large">
            <p class="large-p1 text-muted">I was previously<span id="mb2-currentrole"></span> in the <span id="mb2-currentind"></span> industry.</p>
            <p class="large-p2">I am now a <span id="mb2-futurerole"></span>.</p>
            <p class="d-none"><span id="mb2-futureind"></span></p>
            <p class="large-p4">Highlights</p>
            <p class="large-p3 text-secondary">I started my career change journey with a target to achieve my goals in <span id="mb2-timeframe"></span> months. I set aside a budget of S$<span id="mb2-budget"></span>, and committed to putting in at least <span id="mb2-hrsperwk"></span> hours per week, working towards my dream!</p>
            <p class="large-p4">Why did I change?</p>
            <p class="large-p5 text-secondary" id="mb2-motivation">Motivation</p>
            <p class="d-none" id="mb2-satisfaction">Satisfaction</p>
            <p class="d-none" id="mb2-journey">Journey Experience</p>
            <p class="large-p4">My Experience and Advice</p>
            <p class="large-p6 text-secondary" id="mb2-advice">Advice</p>
            <br>
            <div class="mb2-small-links">
              <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill mr-2 mr-md-2 px-4 px-md-4" data-dismiss="modal">Close</button>
              <%= link_to 'Connect', requests_connections_path, class: 'btn btn-sm btn-outline-warning rounded-pill mr-2 mr-md-2 px-2 px-md-2' %>
              <a id="mb2-seeRoadmap" href="#" class="btn btn-sm btn-outline-primary rounded-pill mr-2 mr-md-2 px-2 px-md-2">See Roadmap</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>