<!DOCTYPE html>
<html>
  <head>
    <title>Connectdots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'roadmap', 'data-turbolinks-track': 'reload', defer: true %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
